#include <winver.h>

1 VERSIONINFO
FILEVERSION     3,1,0,0
PRODUCTVERSION  3,1,0,0
FILEFLAGSMASK   0
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "CompanyName",      "The SolveSpace authors"
            VALUE "ProductName",      "SolveSpace"
            VALUE "ProductVersion",   "3~qt"
            VALUE "FileDescription",  "SolveSpace, a parametric 2d/3d CAD"
            VALUE "FileVersion",      "3~qt"
            VALUE "OriginalFilename", "solvespace.exe"
            VALUE "InternalName",     "solvespace"
            VALUE "LegalCopyright",   "(c) 2008-2024 Jonathan Westhues and other authors"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0
    END
END

4000 ICON "win32/icon.ico"
1 RT_MANIFEST "win32/manifest.xml"

banner.txt RCDATA "banner.txt"
icons/graphics-window/angle.png RCDATA "icons/graphics-window/angle.png"
icons/graphics-window/arc.png RCDATA "icons/graphics-window/arc.png"
icons/graphics-window/assemble.png RCDATA "icons/graphics-window/assemble.png"
icons/graphics-window/bezier.png RCDATA "icons/graphics-window/bezier.png"
icons/graphics-window/circle.png RCDATA "icons/graphics-window/circle.png"
icons/graphics-window/construction.png RCDATA "icons/graphics-window/construction.png"
icons/graphics-window/equal.png RCDATA "icons/graphics-window/equal.png"
icons/graphics-window/extrude.png RCDATA "icons/graphics-window/extrude.png"
icons/graphics-window/helix.png RCDATA "icons/graphics-window/helix.png"
icons/graphics-window/horiz.png RCDATA "icons/graphics-window/horiz.png"
icons/graphics-window/image.png RCDATA "icons/graphics-window/image.png"
icons/graphics-window/in3d.png RCDATA "icons/graphics-window/in3d.png"
icons/graphics-window/lathe.png RCDATA "icons/graphics-window/lathe.png"
icons/graphics-window/length.png RCDATA "icons/graphics-window/length.png"
icons/graphics-window/line.png RCDATA "icons/graphics-window/line.png"
icons/graphics-window/ontoworkplane.png RCDATA "icons/graphics-window/ontoworkplane.png"
icons/graphics-window/other-supp.png RCDATA "icons/graphics-window/other-supp.png"
icons/graphics-window/parallel.png RCDATA "icons/graphics-window/parallel.png"
icons/graphics-window/perpendicular.png RCDATA "icons/graphics-window/perpendicular.png"
icons/graphics-window/pointonx.png RCDATA "icons/graphics-window/pointonx.png"
icons/graphics-window/point.png RCDATA "icons/graphics-window/point.png"
icons/graphics-window/rectangle.png RCDATA "icons/graphics-window/rectangle.png"
icons/graphics-window/ref.png RCDATA "icons/graphics-window/ref.png"
icons/graphics-window/revolve.png RCDATA "icons/graphics-window/revolve.png"
icons/graphics-window/same-orientation.png RCDATA "icons/graphics-window/same-orientation.png"
icons/graphics-window/sketch-in-3d.png RCDATA "icons/graphics-window/sketch-in-3d.png"
icons/graphics-window/sketch-in-plane.png RCDATA "icons/graphics-window/sketch-in-plane.png"
icons/graphics-window/step-rotate.png RCDATA "icons/graphics-window/step-rotate.png"
icons/graphics-window/step-translate.png RCDATA "icons/graphics-window/step-translate.png"
icons/graphics-window/symmetric.png RCDATA "icons/graphics-window/symmetric.png"
icons/graphics-window/tangent-arc.png RCDATA "icons/graphics-window/tangent-arc.png"
icons/graphics-window/text.png RCDATA "icons/graphics-window/text.png"
icons/graphics-window/trim.png RCDATA "icons/graphics-window/trim.png"
icons/graphics-window/vert.png RCDATA "icons/graphics-window/vert.png"
icons/text-window/constraint.png RCDATA "icons/text-window/constraint.png"
icons/text-window/constraint-dimo.png RCDATA "icons/text-window/constraint-dimo.png"
icons/text-window/constraint-wo.png RCDATA "icons/text-window/constraint-wo.png"
icons/text-window/construction.png RCDATA "icons/text-window/construction.png"
icons/text-window/edges.png RCDATA "icons/text-window/edges.png"
icons/text-window/faces.png RCDATA "icons/text-window/faces.png"
icons/text-window/occluded-visible.png RCDATA "icons/text-window/occluded-visible.png"
icons/text-window/occluded-stippled.png RCDATA "icons/text-window/occluded-stippled.png"
icons/text-window/occluded-invisible.png RCDATA "icons/text-window/occluded-invisible.png"
icons/text-window/mesh.png RCDATA "icons/text-window/mesh.png"
icons/text-window/normal.png RCDATA "icons/text-window/normal.png"
icons/text-window/outlines.png RCDATA "icons/text-window/outlines.png"
icons/text-window/point.png RCDATA "icons/text-window/point.png"
icons/text-window/shaded.png RCDATA "icons/text-window/shaded.png"
icons/text-window/workplane.png RCDATA "icons/text-window/workplane.png"
locales.txt RCDATA "locales.txt"
locales/cs_CZ.po RCDATA "locales/cs_CZ.po"
locales/de_DE.po RCDATA "locales/de_DE.po"
locales/en_US.po RCDATA "locales/en_US.po"
locales/fr_FR.po RCDATA "locales/fr_FR.po"
locales/uk_UA.po RCDATA "locales/uk_UA.po"
locales/es_AR.po RCDATA "locales/es_AR.po"
locales/tr_TR.po RCDATA "locales/tr_TR.po"
locales/ru_RU.po RCDATA "locales/ru_RU.po"
locales/zh_CN.po RCDATA "locales/zh_CN.po"
locales/ja_JP.po RCDATA "locales/ja_JP.po"
fonts/unifont.hex.gz RCDATA "fonts/unifont.hex.gz"
fonts/private/0-check-false.png RCDATA "fonts/private/0-check-false.png"
fonts/private/1-check-true.png RCDATA "fonts/private/1-check-true.png"
fonts/private/2-radio-false.png RCDATA "fonts/private/2-radio-false.png"
fonts/private/3-radio-true.png RCDATA "fonts/private/3-radio-true.png"
fonts/private/4-stipple-dot.png RCDATA "fonts/private/4-stipple-dot.png"
fonts/private/5-stipple-dash-long.png RCDATA "fonts/private/5-stipple-dash-long.png"
fonts/private/6-stipple-dash.png RCDATA "fonts/private/6-stipple-dash.png"
fonts/private/7-stipple-zigzag.png RCDATA "fonts/private/7-stipple-zigzag.png"
fonts/unicode.lff.gz RCDATA "fonts/unicode.lff.gz"
fonts/BitstreamVeraSans-Roman-builtin.ttf RCDATA "fonts/BitstreamVeraSans-Roman-builtin.ttf"
shaders/imesh.frag RCDATA "shaders/imesh.frag"
shaders/imesh.vert RCDATA "shaders/imesh.vert"
shaders/imesh_point.frag RCDATA "shaders/imesh_point.frag"
shaders/imesh_point.vert RCDATA "shaders/imesh_point.vert"
shaders/imesh_tex.frag RCDATA "shaders/imesh_tex.frag"
shaders/imesh_texa.frag RCDATA "shaders/imesh_texa.frag"
shaders/imesh_tex.vert RCDATA "shaders/imesh_tex.vert"
shaders/mesh.frag RCDATA "shaders/mesh.frag"
shaders/mesh.vert RCDATA "shaders/mesh.vert"
shaders/mesh_fill.frag RCDATA "shaders/mesh_fill.frag"
shaders/mesh_fill.vert RCDATA "shaders/mesh_fill.vert"
shaders/edge.frag RCDATA "shaders/edge.frag"
shaders/edge.vert RCDATA "shaders/edge.vert"
shaders/outline.vert RCDATA "shaders/outline.vert"
threejs/three-r111.min.js.gz RCDATA "threejs/three-r111.min.js.gz"
threejs/hammer-2.0.8.js.gz RCDATA "threejs/hammer-2.0.8.js.gz"
threejs/SolveSpaceControls.js RCDATA "threejs/SolveSpaceControls.js"
